
 <!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dynamic Consumption Model</title>
	<link rel="SHORTCUT ICON" href="images/application.ico">

    <!-- Angular Material CSS -->
    <link rel="stylesheet" href="css/angular-material.min.css">
    
     <!-- Dropzone CSS -->
    <link rel="stylesheet" href="css/dropzone.css">   


  </head>


  <body>

	<div layout="column" layout-fill id="demo" ng-app="demoApp" ng-controller="demoCtrl as mc">
    	<md-toolbar md-medium-tall >
	   		<div class="md-toolbar-tools">
		        <h2 flex md-truncate>DYNAMIC CONSUMPTION MODEL <font size="2">[Supported browsers: Google Chrome, Firefox]</font></h2>
		        <img src="images/download.png" style="cursor: pointer;" onclick="location.replace('demo-model?');"/>
	    	</div>
		</md-toolbar>
	  	<md-content>
			<md-tabs md-dynamic-height md-border-bottom md-stretch-tabs>
		    	<md-tab label="STEP 1 - Forecasting" md-on-select="selectTabApproximation()" md-active="view.model.page_tab == 0">
		        	<md-content class="md-padding_">
		        		<div layout="row">
		        			<div flex layout-padding >
								<section >
									<md-toolbar class="md-primary _md _md-toolbar-transitions">
										<div class="md-toolbar-tools">
											<img src="images/customer_infr_small.png"/>&nbsp;
											<h5 flex md-truncate>Input chanel from Customer's infrastructure</h5>
									    </div>
									</md-toolbar>
								</section>
							</div>
							<div flex layout-padding >
								<section >
									<md-toolbar class="md-primary _md _md-toolbar-transitions">
										<div class="md-toolbar-tools">
											<h5 flex md-truncate>Consumption&nbsp;</h5>
											<h5 flex md-truncate>{{view.model.forecastingStartDate}}  {{view.model.forecastingFinishDate}}</h5>
									   		<img src="images/download.png" style="cursor: pointer;" onclick="location.replace('demo-download?');"/>
									    </div>
									</md-toolbar>
								</section>
							</div>
							<div flex layout-padding>
								<section >
									<md-toolbar class="md-primary _md _md-toolbar-transitions" style="background-color:transparent; color: black;">
										<md-input-container class="md-block">
								         	<label>Average forecasted consumption</label>
								          	<md-select ng-model="view.model.approximationType">
								            	<md-option ng-repeat="period in view.model.selectApproximationType" ng-value="period.code" >
								              		{{period.desc}}
								            	</md-option>
								         	</md-select>
		          						</md-input-container>
  									</md-toolbar>
								</section>
							</div>
							<div flex layout-padding>
								<section >
									<md-toolbar class="md-primary _md _md-toolbar-transitions" style="background-color:transparent; color: black;">
										<md-input-container class="md-block">
											<label>Average Daily Secure Stock</label>
											<input type="number" step="1" name="dayStockDelta" ng-model="view.model.dayStockDelta" min="0" max="30"/>
											<md-progress-linear class="md-primary" md-mode="indeterminate" ng-if="view.model.redraworders==true"/>
	          							</md-input-container>
										
  									</md-toolbar>
								</section>
							</div>
		        		</div>
						<div layout="row">
							<div flex layout-padding >

								<section>
									<div id="uploader" action="demo-upload?" class="dropzone needsclick dz-clickable" ng-show="view.model.uploadType == 'C'">
										<div class="dz-message needsclick" style="font-size: small;">
										    <i>You can drop files here or click to upload<br>
										   	<b>Consumption CSV file</b> with 2 column: date and quantity<br>
										    Example of row: 22/04/2016,25.11<br><br><br></i>
										    <img src="images/draganddrop.png"/>
										  </div>									
										
									</div> 
 									
									<div id="uploadermodel" action="demo-uploadmodel?" class="dropzone needsclick dz-clickable" ng-show="view.model.uploadType == 'M'">
										<div class="dz-message needsclick" style="font-size: small;">
										    <i>You can drop files here or click to upload<br>
										    <b>Dynamic Model XML file</b><br><br><br><br><br></i>
										    <img src="images/draganddrop.png"/>
										  </div>									
										
									</div> 	
									
									<div id="uploaderinventory" action="demo-uploadinventory?" class="dropzone needsclick dz-clickable" ng-show="view.model.uploadType == 'I'">
										<div class="dz-message needsclick" style="font-size: small;">
										    <i>You can drop files here or click to upload<br>
										   	<b>Inventory CSV file</b> with 2 column: date and quantity<br>
										    Example of row: 22/03/2017,1021.40<br><br><br></i>
										    <img src="images/draganddrop.png"/>
										  </div>									
										
									</div>										
									
									<div flex layout-padding>
										<md-radio-group ng-model="view.model.uploadType" layout="row">
											<md-radio-button value="C" class="md-primary">Consum.</md-radio-button>
											<md-radio-button value="M" class="md-accent">Model</md-radio-button>
											<md-radio-button value="I" class="md-accent">Invent.</md-radio-button>
										</md-radio-group>
									</div>						
								</section>
							</div>
							<div flex layout-padding >
								<md-list >
									<md-list-item class="md-2-line" ng-repeat="(key, value) in view.model.rawdata">
										<div class="md-list-item-text">
									    	<h4>{{key | date:'dd/MM/yyyy'}}</h4>
									      	<p>{{value}}</p>
									   	</div>
									</md-list-item>
								</md-list>
							</div>
							<div flex layout-padding>
								<md-list>
							  		<md-list-item class="md-2-line" ng-repeat="consumption in view.model.sliders.consumption">
          								<md-icon md-svg-src="images/svg/ic_edit_black_18px.svg" ng-click="editConsumption($event, consumption.desc)" aria-label="edit" class="md-secondary md-hue-3" style="color: white;"></md-icon>
							  		
										<md-checkbox ng-model="consumption.enabled"></md-checkbox>
										<div class="md-list-item-text">
										    <h3>{{consumption.desc}}</h3>
										   	<p>{{consumption.value}}</p>
									 	</div>
									 	
									 	
									</md-list-item>
								</md-list>
							</div>
							<div flex layout-padding>
								<md-list >
							  		<md-list-item class="md-2-line" ng-repeat="stock in view.model.sliders.stock" >
										<md-checkbox ng-model="stock.enabled"></md-checkbox>
										<div class="md-list-item-text">
											<h3>{{stock.desc}}</h3>
										    <p>{{stock.value}}</p>
										</div>
									</md-list-item>
									
								</md-list>

							</div>
						</div>
		        	</md-content>
				</md-tab>
		      	<md-tab label="STEP 2 - Correction & Prediction" md-on-select="selectTabForecasting()" md-active="view.model.page_tab == 1">
			    	<md-content class="md-padding">
			        	<div id="chartavr_div" style="width: 1250px; height: 200px;"></div>
			        	<div style="width: 1250px; height: 5px;" >
							<md-progress-linear md-mode="indeterminate" ng-if="view.model.redrawslider==true"/>
						</div>
						<div id="tuning_div" style="padding:0px;" ng-if="view.model.redrawslider==false">
						<table  cellspacing="0" cellpadding="0" >
							<tr>
								<td style="min-width:{{view.model.viewFullApproximation==true ? 67 : 108}}px;max-width:{{view.model.viewFullApproximation==true ? 67 : 108}}px;" data-ng-repeat="consumption in view.model.sliders.consumption" ng-if="view.model.tunemode==1">
									<md-slider-container flex ng-disabled="consumption.enabled == false">
										<md-input-container>
											<input flex type="number" ng-model="consumption.value" aria-label="consumption" aria-controls="consumption-slider" >
										</md-input-container>
										<md-slider 	md-discrete ng-model="consumption.value" min="{{view.model.sliders.minC}}" max="{{view.model.sliders.maxC}}" step="1"
													id="consumption-slider"
													aria-label="bass" class="md-primary"
													md-vertical
													style="padding:0px;height:50px"
													></md-slider>
								      	<h5>{{consumption.desc}}</h5>
									</md-slider-container>
								</td>
							</tr>
							<tr >
								<td style="min-width:{{view.model.viewFullApproximation==true ? 67 : 108}}px;max-width:{{view.model.viewFullApproximation==true ? 67 : 108}}px;" data-ng-repeat="stock in view.model.sliders.stock" ng-if="view.model.tunemode == 2">
									<md-slider-container flex ng-disabled="stock.enabled == false">
										<md-input-container>
											<input flex type="number" ng-model="stock.value" aria-label="stock" aria-controls="stock-slider" >
										</md-input-container>
										<md-slider 	md-discrete ng-model="stock.value" min="{{view.model.sliders.minS}}" max="{{view.model.sliders.maxS}}" step="1"
												      id="stock-slider"
												      aria-label="stock" class="md-accent"
												       md-vertical md-range></md-slider>
									      <h5>{{stock.desc}}</h5>
									</md-slider-container>
								</td>
							</tr>
						</table>
					</div>

					<div layout="row">
						<div flex layout-padding>
							<section >
								<md-radio-group ng-model="view.model.tunemode" layout="row">
									<md-radio-button value="0" class="md-warn"> Hide </md-radio-button>
									<md-radio-button value="1" class="md-primary"> Consumption </md-radio-button>
									<md-radio-button value="2" class="md-accent"> Secure Stock </md-radio-button>
								</md-radio-group>
								<br>
								<md-input-container class="md-block">
									<label>Algorithm</label>
									<md-select ng-model="view.model.approximationAlgorithm">
										<md-option ng-repeat="period in view.model.selectApproximationAlgorithm" ng-value="period.code" >
									    	{{period.desc}}
									    </md-option>
									</md-select>
			          			</md-input-container>
								<md-slider-container ng-if="view.model.approximationAlgorithm == 'PLS'">
									<span class="md-body-1">Degree</span>
									<md-slider flex md-discrete ng-model="view.model.leastSqDegree" step="1" min="0" max="20" aria-label="leastSqDegree" id="leastSqDegree-slider" class="md-primary">
									</md-slider>
									<md-input-container>
										<input flex type="number" ng-model="view.model.leastSqDegree" aria-label="leastSqDegree" aria-controls="leastSqDegree-slider">
									</md-input-container>
								</md-slider-container>
							</section>
						</div>

						<div flex >
							<md-switch ng-model="view.model.viewFullApproximation" aria-label="viewFullApproximation" ng-true-value="true" ng-false-value="false" class="md-warn">
						    	Full approximation set: {{ view.model.viewFullApproximation }}
						 	</md-switch>

						</div>
					</div>

				</md-content>
			</md-tab>
				<md-tab label="STEP 3 - Orders Processing" md-on-select="selectTabProcessing()" md-active="view.model.page_tab == 2">
			        <md-content class="md-padding">
						<div layout="column">
							<div layout="row">
								<div flex >
									<md-radio-group ng-model="view.model.calculatemode" layout="row">
										<md-radio-button value="1" class="md-primary"> First Point </md-radio-button>
										<md-radio-button value="2" class="md-accent"> Fixed Quantity </md-radio-button>
										<md-radio-button value="3" class="md-accent"> Fixed Dates </md-radio-button>
									</md-radio-group>
								</div>
								<div flex layout="row">
									<md-input-container class="md-block">
										<label>Initial Date</label>
										<input  name="startDate" ng-model="view.model.startDate" />
									</md-input-container>	
									<md-input-container class="md-block">
										<label>Initial Quantity</label>
										<input type="number" step="100" name="quantity" ng-model="view.model.quantity" min="0" max="100000"/>
									</md-input-container>

											<md-input-container class="md-block" ng-if="view.model.calculatemode==2">
												<label>Fixed Quantity</label>
												<input type="number" step="100" name="quantity" ng-model="view.model.fixedQuantity" min="0" max="100000"/>
											</md-input-container>
											<md-input-container class="md-block" ng-if="view.model.calculatemode==3">
									          	<label>Periodicity</label>
									          	<md-select ng-model="view.model.fixedPeriod">
									            	<md-option ng-repeat="period in view.model.selectFixedPeriod" ng-value="period.code" >
									              		{{period.desc}}
									            	</md-option>
									         	</md-select>
			          						</md-input-container>

								</div>
				   			</div>
							<div flex >
						    	<div id="chartcons_div" style="height: 270px;" ></div>
						        	<div style="height: 5px;" >
						          		<md-progress-linear md-mode="indeterminate" ng-if="view.model.chartsInProgress==true"/>
						          	</div>
									<md-slider-container >
										<span class="md-body-1">Zoom</span>
										<md-slider flex md-discrete ng-model="view.model.dayFinishDate" step="1" min="0" max="365" aria-label="dayFinishDate" id="dayFinishDate-slider" class="md-primary">
										</md-slider>
										<md-input-container>
											<input flex type="number" ng-model="view.model.dayFinishDate" aria-label="dayFinishDate" aria-controls="dayFinishDate-slider">
										</md-input-container>
									</md-slider-container>
						    </div>
							<div layout="row">
								<div flex layout-padding>
									<md-slider-container >
										<span class="md-body-1">Lead</span>
										<md-slider flex md-discrete ng-model="view.model.leadDays" step="1" min="0" max="90"
													aria-label="leadDays"
													id="leadDays-slider"
													class="md-primary"
										>
										</md-slider>
										<md-input-container>
											<input flex type="number" ng-model="view.model.leadDays" aria-label="leadDays" aria-controls="leadDays-slider">
										</md-input-container>
									</md-slider-container>
									<md-slider-container >
										<span class="md-body-1">Items x Pack</span>
										<md-slider flex md-discrete ng-model="view.model.itemsForPack" step="1" min="1" max="100"
													aria-label="itemsForPack"
													id="itemsForPack-slider"
													class="md-primary"
										>
										</md-slider>
										<md-input-container>
											<input flex type="number" ng-model="view.model.itemsForPack" aria-label="itemsForPack" aria-controls="itemsForPack-slider">
										</md-input-container>
									</md-slider-container>
									<md-slider-container >
										<span class="md-body-1">Scale</span>
										<md-slider flex md-discrete ng-model="view.model.chartConsumptionDayInterval" step="1" min="1" max="7"
													aria-label="chartConsumptionDayInterval"
													id="chartConsumptionDayInterval-slider"
													class="md-primary"
										>
										</md-slider>
										<md-input-container>
											<input flex type="number" ng-model="view.model.chartConsumptionDayInterval" aria-label="chartConsumptionDayInterval" aria-controls="chartConsumptionDayInterval-slider">
										</md-input-container>
									</md-slider-container>
								</div>
								<div flex layout-padding>
									<section >
										<md-toolbar class="md-warn _md _md-toolbar-transitions">
											<div class="md-toolbar-tools">
												<h5 flex md-truncate>Procurement orders ready to send - {{view.model.orders.length}}</h5>
												<img src="images/download.png" style="cursor: pointer;" onclick="location.replace('demo-orders?');"/>
										    </div>
										</md-toolbar>
										<md-list flex layout-padding >
											<md-list-item class="md-2-line" ng-repeat="item in view.model.orders"  ng-if="view.model.redraworders==false">
												<md-checkbox ng-model="item.done"></md-checkbox>
											    <div class="md-list-item-text">
											    	<h3>{{item.date}}</h3>
											      	<p>{{item.quantity}}</p>
											    </div>
											</md-list-item>
											<md-progress-linear class="md-warn" md-mode="indeterminate" ng-if="view.model.redraworders==true"/>
										</md-list>

									</section>
								</div>
								<div flex layout-padding >
									<section >
										<md-toolbar class="md-primary _md _md-toolbar-transitions">
											<div class="md-toolbar-tools">
												<h5 flex md-truncate>Output chanel to Customer's infrastructure</h5>
												&nbsp;<img src="images/customer_infr_small.png"/>
										    </div>
										</md-toolbar>
										<div layout-align="center center" style="text-align: center">
											<img src="images/customer_infr_out.png"/>
										</div>
									</section>

								</div>
							</div>
						</div>
			       	</md-content>
		      	</md-tab>
		   	</md-tabs>
		</md-content>
		
		<div style="visibility: hidden" >
	    	<div class="md-dialog-container" id="panelEditConsumption">
				<md-dialog aria-label="Edit Consumption">
				  <form ng-cloak>
				    <md-toolbar>
				      <div class="md-toolbar-tools">
				        <h2>Edit Forecasted Consumption Values</h2>
				        <span flex></span>
				        <md-button class="md-icon-button" ng-click="closeEditConsumption($event)">
				          <md-icon md-svg-src="images/svg/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
				        </md-button>
				      </div>
				    </md-toolbar>
				
				    <md-dialog-content>
				      <div class="md-dialog-content">
				          			<div flex-gt-xs>
					      				<h4>Average date</h4>
					      				<md-datepicker ng-model="view.model.editor.consumption.point" md-placeholder="Enter date"></md-datepicker>
					    			</div>
									<md-input-container class="md-block">
										<label>Quantity</label>
										<input type="number" step="100" name="quantity" ng-model="view.model.editor.consumption.value" min="0" max="100000"/>
									</md-input-container>
				      
				      </div>
				    </md-dialog-content>
				
				    <md-dialog-actions layout="row">
				      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
				        More on Wikipedia
				      </md-button>
				      <span flex></span>
				      <md-button ng-click="answer('not useful')">
				       Not Useful
				      </md-button>
				      <md-button ng-click="answer('useful')">
				        Useful
				      </md-button>
				    </md-dialog-actions>
				  </form>
				</md-dialog>
	    	</div>
	  	</div>
	</div>
	
	



	<!--  Angular 1.5 JavaScript -->
	<script src='js/angular.min.js'></script>
	<script src='js/angular-animate.min.js'></script>
	<script src='js/angular-aria.min.js'></script>
  	<script src="js/angular-material.min.js"></script>

	<!--  ClassHidra Ajax JavaScript -->
	<script src='js/clAjax.js'></script>

	<!--  ClassHidra Model JavaScript -->
	<script src='js/clModels.js'></script>

	<!--  Google charts -->
	<script src="js/chart_loader.js"></script>

	<!--  Dropzonejs -->
	<script src="js/dropzone.js"></script>




	<script>

	function showException(e){
		getScope().showPopup(null,'System error', e.toString());
	}
	
	Dropzone.options.uploader = {
		    maxFilesize: "5",
		    addRemoveLinks : true,
		    init: function () {
		    	this.on('success', function (file, response) {
		            var model = JSON.parse(response);
		            
		            getScope().view.model.rawdata = model.rawdata;
		            getScope().view.init(model);
		            getScope().view.message();

		        });
		    	this.on('error', function (file, response) {
		    		getScope().showPopup(null,'Error',response);
		        });		    	
		    }
		};
	
	Dropzone.options.uploaderinventory = {
		    maxFilesize: "5",
		    addRemoveLinks : true,
		    init: function () {
		    	this.on('success', function (file, response) {
		            var model = JSON.parse(response);
		            

		            getScope().view.init(model);
		            getScope().view.message();

		        });
		    	this.on('error', function (file, response) {
		    		getScope().showPopup(null,'Error',response);
		        });		    	
		    }
		};	
	Dropzone.options.uploadermodel = {
		    maxFilesize: "5",
		    addRemoveLinks : true,
		    init: function () {
		    	this.on('success', function (file, response) {
		            var _this = this;
		            var model = JSON.parse(response);
		            

		            getScope().view.init(model);
		            getScope().view.message();

		        });
		    	this.on('error', function (file, response) {
		    		getScope().showPopup(null,'Error',response);
		        });		    	
		    }
		};	


	function chartInLoad(id, inLoad){
//		return;
//		var div = document.getElementById(id);

		try{
			if(inLoad==true){
//				div.style.opacity = .1;
//				div.style.filter = "alpha(opacity=10)";
				getScope().view.model.chartsInProgress=true;
			}else{
//				div.style.opacity = 1;
//				div.style.filter = "alpha(opacity=100)";
				setTimeout(
						function(){
							getScope().view.model.chartsInProgress=false;
						},
						50
				);
			}
		}catch(e){

		}
	}

    function drawChartAverage(datas){
    	var arr = new Array();
    	arr[0] = datas["chart"].header;
    	datas["chart"].datas.forEach(
    			function(item, index){
    				var splitted = item[0].split(" ");
    				arr[index+1] = new Array();
    				arr[index+1][0]=new Date(splitted[2]/1, splitted[0]/1-1, splitted[1]/1);
    				arr[index+1][1]=Number(item[1]);
    				arr[index+1][2]=Number(item[2]);
    			}
    	);
        var data = google.visualization.arrayToDataTable(arr);

		var options = {
			title_: 'Average Consumption/Secure stock',
			curveType_: 'function',
			legend: { position: 'top' },
			hAxis: { textPosition: 'none' },
			'chartArea':{left:50,top:25,bottom:5,width:"100%"}

		};

		var chart = new google.visualization.LineChart(document.getElementById('chartavr_div'));
		chart.draw(data, options);
		chartInLoad("chartavr_div",false);
    }

    function drawChartConsumption(datas){
    	var arr = new Array();
    	arr[0] = datas["chart"].header;
    	datas["chart"].datas.forEach(
    			function(item, index){
    				var splitted = item[0].split(" ");
    				arr[index+1] = new Array();
    				arr[index+1][0]=new Date(splitted[2]/1, splitted[0]/1-1, splitted[1]/1);
    				arr[index+1][1]=Number(item[1]);
	   				arr[index+1][2]=Number(item[2]);
	   				arr[index+1][3]=Number(item[3]);
    			}
    	);
        var data = google.visualization.arrayToDataTable(arr);

		var options = {
			title_: 'Consumption',
			curveType_: 'function',
			legend: { position: 'top' },
			hAxis_: { textPosition: 'none' },
			vAxis: {viewWindowMode: "explicit", viewWindow:{ min: 0 }},
			seriesType: 'line',
			series: {2: {type: 'bars', color_: 'green'}},
			'chartArea':{left:75,top:30,bottom:25,width:"100%"}

		};

		var chart = new google.visualization.LineChart(document.getElementById('chartcons_div'));
		chart.draw(data, options);
		chartInLoad("chartcons_div",false);
    }



	var ServerModel = {
		rawdata : [],
		sliders : [],
		orders : [],
		selectFixedPeriod: [],
		selectApproximationType: [],
		selectApproximationAlgorithm: [],
		approximationType: 1,
		fixedPeriod: '',
		proxy: {},
		chartsInProgress: false,
		redrawcharts: false,
		redraworders: false,
		redrawslider: false,
		tunemode: 1,
		calculatemode: 1,
		dayFinishDate: 0,
		chartConsumptionDayInterval: 1,
		page_tab: 1,
		quantity: 0.0,
		fixedQuantity: 0.0,
		leadDays: 15,
		itemsForPack: 1,
		dayStockDelta: 0,
		forecastingStartDate: '',
		forecastingFinishDate: '',
		approximationAlgorithm: '',
		leastSqDegree: 0,
		viewFullApproximation: false,
		uploadType: 'C',
		startDate: '',
		editor: {
			consumption: {
	        	value:0,
	            desc:'',
	            enabled:true,
	            point: new Date(),
	            pointL: new Date().getTime()
			}
		},

		error : '',
		warning : '',
		info : '',
		success: '',

		init: function(model){
			json2model(this,model);
		},


		message : function(){
			if(this.error && this.error!=''){

				getScope().showPopup(null,'Error',this.error);
				this.error = '';				
			}
			if(this.success && this.success!=''){
				getScope().showPopup(null,'Success',this.success);
				this.success = '';					
			}
			if(this.info && this.info!=''){
				getScope().showPopup(null,'Info',this.info);
				this.info = '';				
			}
			if(this.warning && this.warning!=''){
				getScope().showPopup(null,'Warning',this.warning);
				this.warning = '';
			}
		}

	}

	var ViewModel = function(serverModel) {
		var self = this;
		self.initialisation = true;
		self.model = serverModel;

		self.init = function(parsed){
			self.initialisation = true;
			try{
				self.model.init(parsed.model);
			}catch(e){
				showException(e);
			}
			self.initialisation = false;
		}
		
		self.initMessage = function(parsed){
			self.initialisation = true;
			try{
				self.model.info = parsed.model.info;
				self.model.error = parsed.model.error;
				self.model.warning = parsed.model.warning;
				self.model.success = parsed.model.success;
				self.message();
			}catch(e){
				showException(e);
			}
			self.initialisation = false;
		}		

		self.post = function($http,newValue){
			if(!self.initialisation){

				$http.post('demo-json', JSON.stringify(newValue)).
			    success(function(data, status, headers, config) {
			    	self.init(data);
			      }).
			      error(function(data, status, headers, config) {
			    	  console.log(data);
			      });


			}
		}

		self.postDirty = function($http,$timeout,newValue){
			if(!self.initialisation){
				$http.post('demo-diff', JSON.stringify(newValue)).
			    success(function(data, status, headers, config) {
			    	self.initMessage(data);
			    	if(data.model.redrawcharts)
			    		self.model.redrawcharts = data.model.redrawcharts;
			    	if(data.model.redraworders)
			    		self.model.redraworders = data.model.redraworders;
			    	if(data.model.redrawslider)
			    		self.model.redrawslider = data.model.redrawslider;
			    	if(self.model.approximationType=='4')
			    		self.model.approximationType='1';

//			    	self.init(data);
					if(self.model.redraworders==true){
//						self.model.redraworders=false;
			    		if(self.model.page_tab==0){
			    			$http({
			    	            method : 'GET',
			    	            url : 'demo-json'
			    		    }).success(function(data, status, headers, config) {
								if(data.model.sliders){
									json2model(self.model.sliders,data.model.sliders);
//			    		    		self.model.sliders = data.model.sliders;
								}
			    		    });
			    		}
					}
					if(self.model.redrawslider==true){

			    		if(self.model.page_tab==1){
			    			$http({
			    	            method : 'GET',
			    	            url : 'demo-json'
			    		    }).success(function(data, status, headers, config) {
								if(data.model.sliders){
									json2model(self.model.sliders,data.model.sliders);
//			    		    		self.model.sliders = data.model.sliders;
								}
								self.model.redrawslider=false;
			    		    }).error(function(data, status, headers, config) {
			    		    	self.model.redrawslider=false;
				    	    });
			    		}

					}
			    	if(self.model.redrawcharts==true){
			    		self.model.redrawcharts=false;

			    		if(self.model.page_tab==1){
			    			chartInLoad("chartavr_div",true);
				    		$http({
				                method : 'GET',
				                url : 'demo-chartavr'
				    	    }).success(function(data, status, headers, config) {
				    	        google.charts.setOnLoadCallback(function() {drawChartAverage(data);});
								$timeout(
										function(){
											self.model.redraworders=false;
										},
										500
								);
				    	    }).error(function(data, status, headers, config) {
				    	    	chartInLoad("chartavr_div",false);
				    	    });
			    		}
			    		if(self.model.page_tab==2){
			    			chartInLoad("chartcons_div",true);
				    		$http({
				                method : 'GET',
				                url : 'demo-chartcons'
				    	    }).success(function(data, status, headers, config) {
				    	        google.charts.setOnLoadCallback(function() {drawChartConsumption(data);});

				    	        $http({
				    	            method : 'GET',
				    	            url : 'demo-json'
				    		    }).success(function(data, status, headers, config) {
									if(data.model.orders){
										json2model(self.model.orders,data.model.orders);
//				    		    		self.model.orders = data.model.orders;
									}

									$timeout(
											function(){
												self.model.redraworders=false;
											},
											500
									);
				    		    });
				    	    }).error(function(data, status, headers, config) {
				    	    	chartInLoad("chartcons_div",false);
				    	    	self.model.redraworders=false;
				    	    });
			    		}

			    	}else{
			    		if(self.model.redraworders==true){
			    			$http({
			    	            method : 'GET',
			    	            url : 'demo-json'
			    		    }).success(function(data, status, headers, config) {
//			    		    	getScope().view.init(data);
								if(data.model.orders)
			    		    		self.model.orders = data.model.orders;
								$timeout(
										function(){
											self.model.redraworders=false;
										},
										500
								);
				    	    }).error(function(data, status, headers, config) {
				    	    	self.model.redraworders=false;
				    	    });
			    		}
			    	}
			      }).
			      error(function(data, status, headers, config) {
			    	  console.log(data);
			      });
			}
		}

		self.getDirty = function(oldModel,exclude,include){
			var result = [];
			dirtyModelElements(this,oldModel,result,null,exclude,include);
			return result;
		}

		self.message = function(){
			self.model.message();
		}
	}

	function getScope(){
		return angular.element(document.getElementById("demo")).scope();
	}

	var app = angular.module('demoApp', ['ngMaterial']);

	app.service('Browsertype', ['$window', function($window) {
		this.type = function() {
	        var userAgent = $window.navigator.userAgent;
	        var browsers = {chrome: /chrome/i, safari: /safari/i, firefox: /firefox/i, ie: /internet explorer/i};
	        for(var key in browsers) {
	            if (browsers[key].test(userAgent)) {
	                return key;
	            }
	       };
	       return 'unknown';
	    }

	}]);

	app.controller('demoCtrl', function($scope, $http, $browser, $timeout, $mdDialog, Browsertype) {

		$scope.view = new ViewModel(ServerModel);

		$scope.selectTabApproximation = function() {
			$scope.view.model.page_tab = 0;
		}

		$scope.showPopup = function(ev, title, message) {
		    $mdDialog.show(
		      $mdDialog.alert()
		        .parent(angular.element(document.querySelector('#popupContainer')))
		        .clickOutsideToClose(true)
		        .title(title)
		        .textContent(message)
		        .ariaLabel('Alert Dialog')
		        .ok('Close')
		        .targetEvent(ev)
		    );
		};
		
		$scope.editConsumption = function(ev, desc) {
			 $mdDialog.show({
			      contentElement: '#panelEditConsumption',
			      parent: angular.element(document.body),
			      targetEvent: ev,
			      clickOutsideToClose: true
			    });
		}
		
		$scope.closeEditConsumption = function(ev) {
			 $mdDialog.cancel();
		}



	  
		
		$scope.selectTabProcessing = function() {

			$scope.view.model.page_tab = 2;
		    $http({
                method : 'GET',
                url : 'demo-chartcons'
    	    }).success(function(data, status, headers, config) {
//    	        google.charts.load('current', {'packages':['corechart']});
    	        google.charts.setOnLoadCallback(function() {drawChartConsumption(data);});
    	        $http({
    	            method : 'GET',
    	            url : 'demo-json'
    		    }).success(function(data, status, headers, config) {
//    		    	getScope().view.init(data);
					if(data.model.orders)
						getScope().view.model.orders = data.model.orders;
    		    });

    	    });
		}
		$scope.selectTabForecasting = function() {
			$scope.view.model.page_tab = 1;
		    $http({
                method : 'GET',
                url : 'demo-chartavr'
    	    }).success(function(data, status, headers, config) {
//    	        google.charts.load('current', {'packages':['corechart']});
    	        google.charts.setOnLoadCallback(function() {drawChartAverage(data);});
    	    });
		}


		$http({
            method : 'GET',
            url : 'demo-json'
	    }).success(function(data, status, headers, config) {
	    	getScope().view.init(data);
	    	if(getScope().view.model.redraworders==true)
	    		getScope().view.model.redraworders=false;
	    	getScope().$watch('view', function(newValue, oldValue) {
	    		var diff = newValue.getDirty(oldValue,function(property){
	    			if(property &&
		    				(
		    					property.indexOf('$$')>=0 ||
		    					property=='error' ||
		    					property=='info' ||
		    					property=='warning'||
		    					property=='success' ||
		    					property=='redrawcharts' ||
		    					property=='model.editor'
		    				)
		    			)
		    				return true;
		    			return false;
		    		});
				if(diff.length>0)
					$scope.view.postDirty($http,$timeout,diff);
	  		},true);


	    }).error(function(data, status, headers, config) {

	    });
		if($scope.view.model.page_tab==1){
			$http({
	            method : 'GET',
	            url : 'demo-chartavr'
		    }).success(function(data, status, headers, config) {
		        google.charts.load('current', {'packages':['corechart']});
		        google.charts.setOnLoadCallback(function() {drawChartAverage(data);});
		    });
		}
	});



	</script>
  </body>
</html>