
 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SIJINN</title>
	<link rel="SHORTCUT ICON" href="images/application.ico">



    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Styles for avoiding jQuery -->
    <link rel="stylesheet" href="css/navbar.css">    

    <!-- Custom styles for Network -->
    <link rel="stylesheet" href="css/network/layout.css">

    


  </head>

  <body>

	<div class="container" style="padding-top: 45px">
		<nav id="top_menu" class="navbar navbar-default navbar-fixed-top"></nav>
      
       	<div class="jumbotron" style="padding:5px;background-color: white;"> 
 			<form id="network" method="post" ng-app="networksApp" ng-controller="networksCtrl">  		
 				<div> 		
					<ul id="tab-header" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#net" id="net-tab" role="tab" data-toggle="tab" aria-controls="net" aria-expanded="true">Network</a></li>
						<li role="presentation"><a href="#training" role="tab" id="training-tab" data-toggle="tab" aria-controls="training">Training</a></li>
						<li class="dropdown" style="z-index: 11;">
		                	<div  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Actions <span class="caret"></span></div>
		                	<ul class="dropdown-menu" role="menu">
		                		<li ng-if="view.model.worker.executionState != 1" class="dropdown-header">Examples:</li>
		                  		<li ng-if="view.model.worker.executionState != 1"><a href="javascript:void(scopeSetDefault('Interpolation'))">&nbsp;&nbsp;- interpolation</a></li>
		                  		<li ng-if="view.model.worker.executionState != 1"><a href="javascript:void(scopeSetDefault('XOR'))">&nbsp;&nbsp;- xor</a></li>
		                  		<li ng-if="view.model.worker.executionState != 1"><a href="javascript:void(scopeSetDefault('CUST'))">&nbsp;&nbsp;- custom</a></li>
		                		<li ng-if="view.model.worker.executionState != 1"><a href="javascript:void(document.getElementById('previewButton').click())">Network source</a></li>
		                		<li ng-if="view.model.worker.executionState != 1"><a href="javascript:void(document.getElementById('dataButton').click())">Training data</a></li>
		                		<li ng-if="view.model.worker.executionState != 1" role="separator" class="divider"></li>
		                  		<li><a href="javascript:void(document.getElementById('loadButton').click())" ng-if="view.model.worker.executionState != 1">Start training</a></li>
		                  		<li><a href="javascript:void(document.getElementById('stopButton').click())" ng-if="view.model.worker.executionState == 1">Interrupt training...</a></li>
		                 		<li ng-if="view.model.worker.executionState != 1" ><a href="javascript:void(scopeRemoveSynapses())">Remove synapses</a></li>
		                 	</ul>
		              	</li>
		              	<li style="width:60%">

			 					<table style="width:100%" >
			 						<tr>
			 							<td style="width:100%;height: 25px;" align="center"><img id="waiter" src="images/wait.gif" border="0"/></td>
			 						</tr>
			 					</table>
		              	</li>
					</ul>
 		
					<div id="networkTabContent" class="tab-content" >
						<div role="net" class="tab-pane fade active in" id="net" aria-labelledby="net-tab" style="min-height: 105px;padding-top: 5px; ">

				 			<table>
				 				<tr>
				 					<td>
				 						<table>
				 							<tr>
				 								<td class="label_datas">	
											  		<label >Example:</label>
											  	</td>
											  	<td class="label_datas">
													<select id="defaultNetwork" 
											  			class="bs-select form-control"
											  			ng-model="view.model.defaultNetwork"
											  			ng-disabled="view.model.worker.executionState == 1"
											  			ng-change="chengeType(view.model.defaultNetwork, '{{view.model.defaultNetwork}}')"
											  		 >
								    					<option value="Interpolation">Interpolation</option>
												    	<option value="XOR">Logic XOR</option>
												    	<option value="CUST">Custom</option>
													</select>
<!-- 											  	
											  		<button type="button" data-toggle="button"  class="btn btn-default" autocomplete="off" ng-bind="view.model.defaultNetwork"></button>
-->
											  	</td>
				 							</tr>
				 						</table>
				 					</td>
				 				</tr>
						 		<tr>
						 			<td>
						 				<table>
											<tr>
																		
										  		<td class="label_datas">	
											  		<label >Activation functions:</label>
											  	</td>
											  	<td >

											  		<select id="activationFunctions" 
											  			class="bs-select form-control"
											  			ng-model="view.model.activationFunctions"
											  			ng-disabled="view.model.worker.executionState == 1"
											  			ng-if_="view.model.defaultNetwork=='XOR'"
											  		 >
								    					<option value="SimpleGaussian">Gaussian</option>
												    	<option value="SimpleHyperbolicTangent">Hyperbolic Tangent</option>
												    	<option value="SimpleSigmoidFermi">Sigmoid Fermi</option>
												    	<option value="examples.functions.XORSigmoid" >Sigmoid x XOR</option>
												    	<option value="SimpleSin">Sin</option>
													</select>													
											  	</td>
										  		<td class="label_datas">	
											  		<label >Layers:</label>
											  	</td>
										  		<td class="label_datas">	
											  		<span ng-bind="view.model.network.neurons.length"></span>
											  	</td>
						  						<td>
						  							&nbsp;&nbsp;
						  						</td>	
								 				<td >
								 					<button type="button" id="previewButton" data-toggle="button" data-loading-text="Wait..." class="btn btn-info" 
								 						ng-disabled="view.model.worker.executionState == 1"
								 						autocomplete="off">
													  	Network source
													</button>
								 				</td>
						  						<td>
						  							&nbsp;&nbsp;
						  						</td>	
								 				<td >
								 					<button type="button" id="resetButton" data-toggle="button" data-loading-text="Reset default" class="btn btn-danger" 
								 						ng-disabled="view.model.worker.executionState == 1"
								 						autocomplete="off">
													  	Reset default
													</button>
								 				</td>	
											</tr>
										</table>
									</td>	
									<td>&nbsp;</td>
									<td ng-if="getAddSynapseLabel() != ''" align="right">
										<table>
											<tr>							
										  		<td class="label_datas">	
											  		<label ng-bind="getAddSynapseLabel()"></label>
											  	</td>
											 	<td ng-if="getAddSynapseLabel() != ''" >
											 		<button  ng-click="addSynapse()" class="btn btn-primary btn-border" 
											 			autocomplete="off" 
											 			ng-disabled="view.model.worker.executionState == 1">+</button>
											 	</td>
											 </tr>
										</table>
									</td>		 	
																		  	
						  		</tr>
						  	</table>	
				

					</div>
			
					<div role="training" class="tab-pane fade" id="training" aria-labelledby="training-tab" style="min-height: 105px">

			
					 		<table>
						 		<tr>	
									<td>
										<table>
											<tr>
										  		<td class="label_datas">	
											  		<label >Strategy:</label>
											  	</td>
											  	<td >
											  		<select id="trainingStrategy" 
											  			class="bs-select form-control"
											  			ng-model="view.model.strategy"
											  			ng-disabled="view.model.worker.executionState == 1"
											  			 >
												    	<option value="BatchGradientDescent">Batch Gradient Descent</option>
<!-- 												    	
												    	<option value="BatchGradientDescent-true">&nbsp;&nbsp;- BGD Parallel (10 threads)</option>
 -->												    	
												    	<option value="StochasticGradientDescent">Stochastic Gradient Descent</option>
												    	<option value="GeneticBreeding">Genetic Breeding</option>
												    	<option value="GeneticBreeding-true">&nbsp;&nbsp;- Parallel (10 threads)</option>
													</select>
											  	</td>	
										  		<td class="label_datas">	
											  		<label >Algorithm:</label>
											  	</td>
						  						<td>
						  							<button type="button" id="infoAButton" data-toggle="button" data-loading-text="?" class="btn btn-default" autocomplete="off">?</button>
						  						</td>											  	
											  	<td >
											  		<select id="trainingAlgorithm" 
											  			class="bs-select form-control"
											  			ng-model="view.model.algorithm"
											  			ng-disabled="view.model.worker.executionState == 1" >
												    	<option value="BPROP" ng-if="view.model.strategy.indexOf('GeneticBreeding') == -1">Back Propagation</option>
												    	<option value="QPROP" ng-if="view.model.strategy.indexOf('GeneticBreeding') == -1 && view.model.strategy != 'StochasticGradientDescent'">Quick Propagation</option>
												    	<option value="RPROP" ng-if="view.model.strategy.indexOf('GeneticBreeding') == -1 && view.model.strategy != 'StochasticGradientDescent'">Resilient Propagation</option>
												    	<option value="GENE" ng-if="view.model.strategy.indexOf('GeneticBreeding') == 0">Genetic Neural</option>
													</select>
											  	</td>

						  						<td>
						  							&nbsp;&nbsp;
						  						</td>	
						  						<td class="label_datas">
											  		<label for="settings.root">Approx:</label>
						  						</td>
				  						
						  						<td>	
						  							<input type="text" class="form-control" style="max-width: 120px; text-align: center;" 
						  								data-ng-model="view.model.worker.approximation"
						  								ng-disabled="view.model.worker.executionState == 1"/>
						  						</td>
						  						<td>
						  							&nbsp;&nbsp;
						  						</td>
						  						<td valign="middle" style="padding: 10px; min-width: 150px">	
											  			<label>MSE:</label>
											  			<button type="button" data-toggle="button"  class="btn btn-default" autocomplete="off" ng-bind="view.model.worker.delta"></button>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td>
										<table>
											<tr>
										  		<td class="label_datas">	
											  		<label >Initial Weight:</label>
											  	</td>
											  	<td >
											  		<select id="initWeight" 
											  			style="width:195px"
											  			class="bs-select form-control"
											  			ng-model="view.model.initWeight"
											  			ng-disabled="view.model.worker.executionState == 1"
											  			 >
												    	<option value="R">Random [-1,1]</option>
												    	<option value="RP">Random Positive [0,1]</option>
												    	<option value="Z">Zero {0}</option>
												    	<option value="FR">From Resource (otherwise {0})</option>
												    	<option value="NI">Not initialize</option>
													</select>
											  	</td>												
						  						<td>
						  							&nbsp;&nbsp;
						  						</td>												
										 		<td >
													<button type="button" id="dataButton" data-toggle="button" data-loading-text="Loading..." class="btn btn-info" 
														autocomplete="off"
														ng-disabled="view.model.worker.executionState == 1">
													  	Training Data
													</button>
												</td>
						  						<td class="label_datas" align="right">
											  		<label for="settings.root">Epoch:</label>
						  						</td>	
												<td valign="middle" style="padding: 10px; min-width: 380px">
												  		<table class="progressbar" >
													  			<tr>
														  			<td class="progress-left" align="center" 
														  				ng-style="{'width': (view.model.worker.step * 100 / view.model.worker.maxSteps) + '%'}"
														  				ng-bind="view.model.worker.step"></td>
														  			<td class="progress-right"
														  				ng-style="{'width': (100- view.model.worker.step * 100 / view.model.worker.maxSteps) + '%'}"
														  			></td>
													  			</tr>
												  		</table>
											  	</td>
												<td>
													<button type="button" id="stopButton" data-toggle="button" data-loading-text="Interrupt" class="btn btn-danger" autocomplete="off"  ng-if="view.model.worker.executionState == 1">
													  	Interrupt
													</button>												
													<button type="button" id="loadButton" data-toggle="button" data-loading-text="Training..." class="btn btn-primary" autocomplete="off">
													  	Start training
													</button>
												
												</td>

											</tr>
										</table>
									</td>								
								</tr>
							</table>
						</div>					

				</div>	
	 		
		 		
			 		<div id="canvas" resize class="canvas"  style="display:none;">
	
				 		<table style="width:100%" data-ng-repeat="layer in view.model.network.neurons" cellpadding="0" cellspacing="0" > 
				
				 			<tr>
				 				<td  data-ng-if="$index == 0" class="btn btn-default">
									Layers
								</td>
								<td style="width:70px; " align="center" data-ng-if="$index > 0"></td>
								
									<td class="separator"></td>
								
				 				<td data-ng-repeat="neuron in layer" style="height: 30px;" class="neuron_place" align="center" style="">
				 					<div data-ng-if="neuron.layer == 0">
				 						<input id="i{{neuron.position}}" 
				 							type="number"
				 							min="-999999"
				 							max="999999"
				 							step="0.01"
					 						class="form-control" 
					 						style="max-width: 120px; text-align: center;display: none;" 
					 						ng-model="neuron.output" 
					 						ng-model-options="{ updateOn: 'blur' }"
					 						ng-disabled="view.model.worker.executionState == 1"
					 						ng-change_="changeInputValue(neuron.layer,neuron.order,neuron.output,{{neuron.output}})"
					 						valid-number_
					 						required
				 						>
				 					</div>
				 				</td>
				 				
				 					<td class="separator"></td>
				 				
				 				<td  align="center" data-ng-if="$index == 0" class="btn btn-default">
									Neurons
								</td>
				 				<td style="width:87px; " align="center" data-ng-if="$index > 0"></td>
				 			</tr>	
							<tr >
								<td style="width:70px; " >
			
									<nobr data-ng-if="$index == 0">
				 					<button type="button"  data-toggle="button" data-loading-text="+" class="btn btn-primary btn-border" autocomplete="off" 
				 					ng-click="addLayer()"
				 					ng-disabled="view.model.worker.executionState == 1"
				 					title="Add New layer"
				 					>+</button>
									<span ng-bind="view.model.network.neurons.length"></span>
									</nobr>						
									
			
			
				 					<button data-ng-if="$index > 0 && $index < view.model.network.neurons.length-1" type="button"  data-toggle="button" data-loading-text="x" class="btn btn-danger btn-border" autocomplete="off" 
				 						ng-click="removeLayerPopup($index,$event)"
				 						ng-disabled="view.model.worker.executionState == 1"
				 						title="Remove layer"
				 					>x</button>						
								</td>
								
									<td class="separator"></td>
								
								<td data-ng-repeat="neuron in layer" class="neuron_place" align="center">
									<div id="n{{neuron.position}}" class="neuron"
										data-title="Neuron"
										data-content="
										<i>layer:</i>&nbsp;{{neuron.layer}}<br/>
										<i>order:</i>&nbsp;{{neuron.order}}<br/>
										<i>activation:</i>&nbsp;{{neuron.function.id}}<br/>
										<i>value:</i>&nbsp;{{neuron.output}}<br/>
										"

									></div>
							 			
								</td>
								
									<td class="separator"></td>
									
								<td style="width:87px; " align="right">
									<nobr>
									<button type="button" data-toggle="button" data-loading-text="x" class="btn btn-danger btn-border" autocomplete="off"
				 						ng-click="removeNeuronPopup($index,-1,$event)"
				 						ng-disabled="view.model.worker.executionState == 1"
				 						title="Remove last neuron from current layer"
				 						data-ng-if="layer.length > 1" 
				 					>x</button>
				 					<span>{{layer.length}}</span>
				 					<button  type="button" data-toggle="button" data-loading-text="+" class="btn btn-primary btn-border" autocomplete="off"
				 						ng-click="addNeuron($index)"
				 						ng-disabled="view.model.worker.executionState == 1"
				 						title="Add new neuron for current layer"
				 						data-ng-if="layer.length < 10"
				 					>+</button>				 					
									</nobr>											
								</td>					
							</tr> 
				 			<tr data-ng-if="$index == view.model.network.neurons.length-1">
				 				<td style="width:70px; " >	 				
				 					<button  type="button"  data-toggle="button" data-loading-text=">" class="btn btn-primary btn-border" autocomplete="off"
				 					ng-click="calculation()"
				 					ng-disabled="view.model.worker.executionState == 1"
				 					title="Calculate output layer"
				 					>
									  	>
									</button>
				 				</td>
				 				
				 					<td class="separator"></td>
				 				
				 				<td data-ng-repeat="neuron in layer" style="height: 30px;" align="center">
				 				 	<div data-ng-if="neuron.layer == view.model.network.neurons.length-1"class="synapse btn btn-default" style="position: relative;display: block;" >
				 						{{neuron.output}}
				 					</div>
				 				
				 				</td>
				 				
				 					<td class="separator"></td>
				 				
				 				<td style="width:87px; " ></td>
				 			</tr>	
				
						</table>	
					</div>
			
					<cycle data-ng-repeat="synapse in view.model.network.synapses"  >			
						<div id="sl{{synapse.direction}}" class="synapse btn btn-default" ng-click="removeSynapsePopup(synapse,$event)">{{synapse.weight}}</div>			
					</cycle>	
	 		
				</div> 		
 			</form>
 		</div>

	</div> <!-- /container -->


    <!-- Bootstrap Native -->
    <script src="js/bootstrap-native.patched.js"></script>
    
	<!--  Angular 1.5 JavaScript -->
	<script src='js/angular.min.js'></script>
	
	<!--  ClassHidra Ajax JavaScript -->
	<script src='js/classhidra-ajax.js'></script>  	
	
	<!--  ClassHidra Utils JavaScript -->
	<script src='js/classhidra-bootstrap-utils.js'></script> 
	<script src='js/classhidra-models.js'></script> 
	<script src='js/utils.js'></script> 	 	 
	
	
	<script>
		var app = angular.module('networksApp', []);
	</script>
	
	<!--  Network support JavaScript -->
	<script src='js/network/controllers.js'></script>
	<script src='js/network/directives.js'></script>
	<script src='js/network/postrendering.js'></script>
	<script src='js/network/scoped.js'></script>
	<script src='js/network/utils.js'></script>
	
	
  </body>
</html>