
 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SIJINN</title>
	<link rel="SHORTCUT ICON" href="images/application.ico">



    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .navbar {
        margin-bottom: 20px;
      }
      
      .btn-border{
		border-radius: 100%;
		-moz-box-shadow: 1px 1px 6px silver;
		-webkit-box-shadow: 1px 1px 6px silver;
		box-shadow: 1px 1px 6px silver;      
      }
      
      div.canvas{

      }      
      
      div.neuron{
      	color: white;
		background-color: #87C5F0;
		padding: 4px;
		-moz-box-shadow: 1px 1px 6px gray;
		-webkit-box-shadow: 1px 1px 6px gray;
		box-shadow: 1px 1px 6px gray;
		border-radius: 100%;	
		height:25px;
		width: 25px;
		cursor: pointer;
		z-index: 1000;
		position: relative;
      }
      
     
      
      div.neuron-expand{
      	color: white;
		background-color: white;
		border-color: #87C5F0;
		padding: 4px;
		-moz-box-shadow: 1px 1px 6px gray;
		-webkit-box-shadow: 1px 1px 6px gray;
		box-shadow: 1px 1px 6px gray;
		border-radius: 100%;	
		height:40px;
		width: 40px;
		cursor: pointer;
		z-index: 1000;
		position: relative;
      }   
      
      div.synapse-line{
      	border: 1px solid silver;
    	opacity: 0.5; 
    	filter: alpha(opacity=50); 
    	z-index: 1px;
    	position: absolute;
    	cursor: pointer;
      }   
      
       div.synapse-line:hover{
      	border: 1px solid #87C5F0;
    	opacity: 1; 
    	filter: alpha(opacity=100); 
    	-moz-box-shadow_: 1px 1px 2px gray; 
    	-webkit-box-shadow_: 1px 1px 2px gray; 
    	box-shadow_: 1px 1px 2px gray;       	
      }  
      
      div.synapse{
		position: absolute;
		background-color_: white;
		color: black;
		padding_: 4px;
		-moz-box-shadow_: 1px 1px 6px gray;
		-webkit-box-shadow_: 1px 1px 6px gray;
		box-shadow_: 1px 1px 6px gray;
		border-radius_: 4px;	
		height_:25px;
		max-width:100px;
		text-align: center;
		display: none;
		min-width: 50px;
		cursor: pointer;
      }  
      
      div.synapse:hover{
      	background-color: #87C5F0;
      	color: white;
	  } 
      
      div.synapse-hover{
      	background-color: #87C5F0;
      	color: white;
	  }     
      
	  td.neuron_place{
	  	height: 50px;
	  	min-height: 50px;
	  	min-width: 50px;
		vertical-align: middle;
      }
      
      td.label_datas{
      	padding: 5px;
      	vertical-align: middle;
      }
      
      td.separator{
		width: 1px;
		
      }
      

      
      table.progressbar{
      	width: 100%;
      	border: 1px solid silver;
      	border-radius: 4px;
      	-moz-box-shadow_: 1px 1px 6px gray;
		-webkit-box-shadow_: 1px 1px 6px gray;
		box-shadow_: 1px 1px 6px gray;
      }
      
      
      table.progressbar  td.progress-left{
      	box-shadow: 1px 1px 6px gray;
      	padding:4px;
      	color:white;
      	background-color:#87C5F0; 
      }
      
            
    </style>
    
    <!-- Styles for avoiding jQuery -->
    <link rel="stylesheet" href="css/navbar.css">

  </head>

  <body>

	<div class="container" style="padding-top: 45px">
		<nav id="top_menu" class="navbar navbar-default navbar-fixed-top"></nav>
      
       	<div class="jumbotron" style="padding:5px;background-color: white;"> 
 			<form id="network" method="post" ng-app="networksApp" ng-controller="networksCtrl">  		
 				<div> 		
					<ul id="tab-header" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#net" id="net-tab" role="tab" data-toggle="tab" aria-controls="net" aria-expanded="true">Network</a></li>
						<li role="presentation"><a href="#training" role="tab" id="training-tab" data-toggle="tab" aria-controls="training">Training</a></li>
						<li class="dropdown">
		                	<div  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Actions <span class="caret"></span></div>
		                	<ul class="dropdown-menu" role="menu">
		                  		<li><a href="javascript:void(document.getElementById('resetButton').click())">Default network</a></li>
		                		<li><a href="javascript:void(document.getElementById('previewButton').click())">Network source</a></li>
		                		<li><a href="javascript:void(document.getElementById('dataButton').click())">Training data</a></li>
		                		<li role="separator" class="divider"></li>
		                  		<li><a href="javascript:void(document.getElementById('loadButton').click())" ng-if="view.model.worker.executionState != 1">Start training</a></li>
		                  		<li><a href="javascript:void(document.getElementById('stopButton').click())" ng-if="view.model.worker.executionState == 1">Interrupt training...</a></li>
		                 		<li><a href="javascript:void(scopeRemoveSynapses())">Remove synapses</a></li>
		                 	</ul>
		              	</li>
		              	<li style="width:60%">

			 					<table style="width:100%" >
			 						<tr>
			 							<td style="width:100%;height: 25px;" align="center"><img id="waiter" src="images/wait.gif" border="0"/></td>
			 						</tr>
			 					</table>
		              	</li>
					</ul>
 		
					<div id="networkTabContent" class="tab-content" >
						<div role="net" class="tab-pane fade active in" id="net" aria-labelledby="net-tab" style="min-height: 105px;padding-top: 5px; ">

				 			<table>
						 		<tr>
						 			<td>
						 				<table>
											<tr>							
										  		<td class="label_datas">	
											  		<label >Activation functions:</label>
											  	</td>
											  	<td >
											  		<select id="activationFunctions" class="bs-select form-control" >
								    					<option value="SimpleGaussian">Gaussian</option>
												    	<option value="SimpleHyperbolicTangent">Hyperbolic Tangent</option>
												    	<option value="SimpleSigmoidFermi">Sigmoid Fermi</option>
												    	<option value="SimpleSin">Sin</option>
													</select>
											  	</td>
										  		<td class="label_datas">	
											  		<label >Layers:</label>
											  	</td>
										  		<td class="label_datas">	
											  		<span >{{view.model.network.neurons.length}}</span>
											  	</td>
						  						<td>
						  							&nbsp;&nbsp;
						  						</td>	
								 				<td >
								 					<button type="button" id="previewButton" data-toggle="button" data-loading-text="Wait..." class="btn btn-info" autocomplete="off">
													  	Network source
													</button>
								 				</td>
						  						<td>
						  							&nbsp;&nbsp;
						  						</td>	
								 				<td >
								 					<button type="button" id="resetButton" data-toggle="button" data-loading-text="Reset default" class="btn btn-danger" autocomplete="off">
													  	Reset default
													</button>
								 				</td>	
											</tr>
										</table>
									</td>	
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>	
									<td ng-if="getAddSynapseLabel() != ''" align="right">
										<table>
											<tr>							
										  		<td class="label_datas">	
											  		<label >{{getAddSynapseLabel()}}</label>
											  	</td>
											 	<td ng-if="getAddSynapseLabel() != ''">
											 		<button  ng-click="addSynapse()" class="btn btn-primary btn-border" autocomplete="off">+</button>
											 	</td>
											 </tr>
										</table>
									</td>		 	
																		  	
						  		</tr>
						  	</table>	
				

					</div>
			
					<div role="training" class="tab-pane fade" id="training" aria-labelledby="training-tab" style="min-height: 105px">

			
					 		<table>
						 		<tr>	
									<td>
										<table>
											<tr>
										  		<td class="label_datas">	
											  		<label >Strategy:</label>
											  	</td>
											  	<td >
											  		<select id="trainingStrategy" class="bs-select form-control" >
												    	<option value="BatchGradientDescent">Batch Gradient Descent</option>
												    	<option value="StochasticGradientDescent">Stochastic Gradient Descent</option>
												    	<option value="GeneticBreeding">Genetic Breeding</option>
													</select>
											  	</td>	
										  		<td class="label_datas">	
											  		<label >Algorithm:</label>
											  	</td>
						  						<td>
						  							<button type="button" id="infoAButton" data-toggle="button" data-loading-text="+" class="btn btn-default" autocomplete="off">?</button>
						  						</td>											  	
											  	<td >
											  		<select id="trainingAlgorithm" class="bs-select form-control" >
												    	<option value="BPROP" ng-if="view.model.strategy != 'GeneticBreeding'">Back Propagation</option>
												    	<option value="QPROP" ng-if="view.model.strategy != 'GeneticBreeding'">Quick Propagation</option>
												    	<option value="RPROP" ng-if="view.model.strategy != 'GeneticBreeding'">Resilient Propagation</option>
												    	<option value="GENE" ng-if="view.model.strategy == 'GeneticBreeding'">Genetic Neural</option>
													</select>
											  	</td>

						  						<td>
						  							&nbsp;&nbsp;
						  						</td>	
						  						<td class="label_datas">
											  		<label for="settings.root">Approximation error:</label>
						  						</td>
				  						
						  						<td>	
						  							<input type="text" class="form-control" style="max-width: 120px; text-align: center;" data-ng-model="view.model.worker.approximation"/>
						  						</td>
						  						<td>
						  							&nbsp;&nbsp;
						  						</td>
						  						<td valign="middle" style="padding: 10px; min-width: 150px">	
											  			<label>MSE:</label>
											  			<span>{{ view.model.worker.delta}}</span>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td>
										<table>
											<tr>
										 		<td >
													<button type="button" id="dataButton" data-toggle="button" data-loading-text="Loading..." class="btn btn-info" autocomplete="off">
													  	Training Data
													</button>							 		

										
												</td>	
												<td class="label_datas" align="right">	
											  		<label >Epoch:</label>
											  	</td>		
												<td valign="middle" style="padding: 10px; min-width: 450px">
												  		<table class="progressbar" cellspasing_="0" cellpadding_="0">
													  			<tr>
														  			<td class="progress-left" align="center" style="width: {{ view.model.worker.step * 100 / view.model.worker.maxSteps}}%">{{ view.model.worker.step}}</td>
														  			<td style="width: {{100- view.model.worker.step * 100 / view.model.worker.maxSteps}}%">&nbsp;</td>
													  			</tr>
												  		</table>
											  	</td>
												<td>
													<button type="button" id="stopButton" data-toggle="button" data-loading-text="Interrupt" class="btn btn-danger" autocomplete="off"  ng-if="view.model.worker.executionState == 1">
													  	Interrupt
													</button>												
													<button type="button" id="loadButton" data-toggle="button" data-loading-text="Training..." class="btn btn-primary" autocomplete="off">
													  	Start training
													</button>
												
												</td>

											</tr>
										</table>
									</td>								
								</tr>
							</table>
						</div>					

				</div>	
	 		
		 		
			 		<div id="canvas" resize class="canvas"  style="display:none;">
	
				 		<table style="width:100%" data-ng-repeat="layer in view.model.network.neurons" cellpadding="0" cellspacing="0"> 
				
				 			<tr>
				 				<td  data-ng-if="$index == 0" class="btn btn-default">
									Layers
								</td>
								<td style="width:50px; " align="center" data-ng-if="$index > 0"></td>
								
									<td class="separator"></td>
								
				 				<td data-ng-repeat="neuron in layer" style="height: 30px;" class="neuron_place" align="center" style="">
				 					<div data-ng-if="neuron.layer == 0">
				 						<input id="i{{neuron.position}}" 
				 							type="number"
				 							min="-999999"
				 							max="999999"
					 						class="form-control" 
					 						style="max-width: 120px; text-align: center;display: none;" 
					 						data-ng-model="neuron.output" 
					 						data-ng-model-options="{ updateOn: 'blur' }"
					 						valid-number
					 						required
				 						>
				 					</div>
				 				</td>
				 				
				 					<td class="separator"></td>
				 				
				 				<td  align="center" data-ng-if="$index == 0" class="btn btn-default">
									Neurons
								</td>
				 				<td style="width:87px; " align="center" data-ng-if="$index > 0"></td>
				 			</tr>	
							<tr >
								<td style="width:50px; " >
			
									<nobr data-ng-if="$index == 0">
				 					<button type="button"  data-toggle="button" data-loading-text="+" class="btn btn-primary btn-border" autocomplete="off" 
				 					ng-click="addLayer()"
				 					title="Add New layer"
				 					>+</button>
									<span >{{view.model.network.neurons.length}}</span>
									</nobr>						
									
			
			
				 					<button data-ng-if="$index > 0 && $index < view.model.network.neurons.length-1" type="button"  data-toggle="button" data-loading-text="x" class="btn btn-danger btn-border" autocomplete="off" 
				 						ng-click="removeLayerPopup($index,$event)"
				 						title="Remove layer"
				 					>x</button>						
								</td>
								
									<td class="separator"></td>
								
								<td data-ng-repeat="neuron in layer" class="neuron_place" align="center">
									<div id="n{{neuron.position}}" class="neuron"
										data-title="Neuron"
										data-content="
										<i>layer:</i>&nbsp;{{neuron.layer}}<br/>
										<i>order:</i>&nbsp;{{neuron.order}}<br/>
										<i>activation:</i>&nbsp;{{neuron.function.id}}<br/>
										<i>contain:</i>&nbsp;{{neuron.output}}<br/>
										"
									></div>
							 			
								</td>
								
									<td class="separator"></td>
									
								<td style="width:87px; " align="right">
									<nobr>
				 					<button  type="button" data-toggle="button" data-loading-text="+" class="btn btn-primary btn-border" autocomplete="off"
				 						ng-click="addNeuron($index)"
				 						title="Add new neuron for current layer"
				 						data-ng-if="layer.length < 10"
				 					>+</button>	
									<span>{{layer.length}}</span>
				 					<button type="button" data-toggle="button" data-loading-text="x" class="btn btn-danger btn-border" autocomplete="off"
				 						ng-click="removeNeuronPopup($index,-1,$event)"
				 						title="Remove last neuron from current layer"
				 						data-ng-if="layer.length > 1" 
				 					>x</button>
									</nobr>											
								</td>					
							</tr> 
				 			<tr data-ng-if="$index == view.model.network.neurons.length-1">
				 				<td style="width:50px; " >	 				
				 					<button  type="button"  data-toggle="button" data-loading-text=">" class="btn btn-primary btn-border" autocomplete="off"
				 					ng-click="calculation()"
				 					title="Calculate output layer"
				 					>
									  	>
									</button>
				 				</td>
				 				
				 					<td class="separator"></td>
				 				
				 				<td data-ng-repeat="neuron in layer" style="height: 30px;" align="center">
				 				 	<div data-ng-if="neuron.layer == view.model.network.neurons.length-1"class="synapse btn btn-default" style="position: relative;display: block;" >
				 						{{neuron.output}}
				 					</div>
				 				
				 				</td>
				 				
				 					<td class="separator"></td>
				 				
				 				<td style="width:87px; " ></td>
				 			</tr>	
				
						</table>	
					</div>
			
					<cycle data-ng-repeat="synapse in view.model.network.synapses"  >			
						<div id="sl{{synapse.direction}}" class="synapse btn btn-default" ng-click="removeSynapsePopup(synapse,$event)">{{synapse.weight}}</div>			
					</cycle>	
	 		
				</div> 		
 			</form>
 		</div>

	</div> <!-- /container -->


    <!-- Bootstrap Native -->
    <script src="js/bootstrap-native.js"></script>
    
	<!--  Angular 1.5 JavaScript -->
	<script src='js/angular.min.js'></script>
	
	<!--  ClassHidra Ajax JavaScript -->
	<script src='js/classhidra-ajax.js'></script>  	
	
	<!--  ClassHidra Utils JavaScript -->
	<script src='js/classhidra-bootstrap-utils.js'></script> 
	<script src='js/classhidra-models.js'></script> 
	<script src='js/utils.js'></script> 	 	 
	
	
	<script>
	


	
var app = angular.module('networksApp', []);
app.controller('networksCtrl', 	
	function($scope, $http, $timeout) {

		$scope.isPostRendered = false;
		$scope.isAddEvents = false;
		$scope.avoidUpdateDirty = 0;
		$scope.view = Object.create(GenericViewModel)
		.extend({
			post : function($http,newValue){
			},
			postDirty : function($http,newValue){
				if(!self.initialisation)
					$http.post('network-diff', JSON.stringify(newValue))
					.success(function(data, status, headers, config) {
					});
			}
		})
		.set(
				Object.create(GenericServerModel)
				.extend({
					activationFunctions:"",
					algorithm:"",
					strategy:"",
					worker:{},
					network:{
						neurons : [],
						synapses : [],
						changed:0
				    },
				    selectedn:[],
				    
					
				    message : function(){
		    			if(this.error && this.error!=''){
		    				new clpopup({
		    					type: 'danger',
		    					message: this.error
		    				}).open();					 
		    			}
		    			if(this.success && this.success!=''){
		    				new clpopup({
		    					type: 'success',
		    					message: this.success
		    				}).open();					 
		    			}	
		    			if(this.info && this.info!=''){
		    				new clpopup({
		    					type: 'info',
		    					message: this.info
		    				}).open();					 
		    			}
		    			if(this.warning && this.warning!=''){
		    				new clpopup({
		    					type: 'warning',
		    					message: this.warning
		    				}).open();					 
		    			}
		    			return this;
				    }
				})
		);
		
		$scope.calculation = function() {

				if($scope.view.model.worker.executionState!=1){
				  	$http
				  	.post('network-exec')
				  	.success(function(data, status, headers, config) { 
				    	$scope.view.init(data);
					});
				}
		
		}	

//Layers		
		$scope.removeLayerPopup = function(layer,$event) {
			if($event.target){
				if($event.target.popover){
				}else{
					var popover = new Popover($event.target,
					{
						trigger:"click",
						template: '<div class="popover" role="tooltip">'
							  + '<div class="arrow"></div>'
							  + '<h3 class="popover-title">Remove layer '+layer+'</h3>'
							  + '<div class="popover-content"><center>'
							  + '<button  type="button"  data-toggle="button" data-loading-text="Confirm" class="btn btn-warning" onclick="scopeRemoveLayer('+layer+')">Confirm</button>'
							  + '</center></div>'
							  + '</div>'
					});
					$event.target.popover = popover;
					popover.open();
						
				}
			}
		}
		$scope.removeLayer = function(layer) {
			if($scope.view.model.worker.executionState!=1){

				$http
					.post('network-removelayer',JSON.stringify({layer:layer}))
					.success(function(data, status, headers, config) { 
						setPostRendered($scope,false);
				    	cleanSynapses($scope);
				    	$scope.view.model.network = {
							neurons : [],
							synapses : [] 
					    };
				    	$scope.view.init(data);
	
					});	
			}
	    };
		$scope.addLayer = function() {
			if($scope.view.model.worker.executionState!=1){
			  	$http
			  	.post('network-addlayer')
			  	.success(function(data, status, headers, config) { 
			  		setPostRendered($scope,false);
			    	cleanSynapses($scope);
			    	$scope.view.model.network = {
						neurons : [],
						synapses : [] 
				    };
			    	$scope.view.init(data);

				});
			}
		}
	    
//Neuron
		$scope.removeNeuronPopup = function(layer,order,$event) {
			if($event.target){
				if($event.target.popover){
				}else{
					var popover = new Popover($event.target,
					{
						trigger:"click",
						template: '<div class="popover" role="tooltip">'
							  + '<div class="arrow"></div>'
							  + '<h3 class="popover-title">Remove last neuron from layer '+layer+'</h3>'
							  + '<div class="popover-content"><center>'
							  + '<button  type="button"  data-toggle="button" data-loading-text="Confirm" class="btn btn-warning" onclick="scopeRemoveNeuron('+layer+','+order+')">Confirm</button>'
							  + '</center></div>'
							  + '</div>'
					});
					$event.target.popover = popover;
					popover.open();
						
				}
			}
		}	    
	    $scope.removeNeuron = function(layer,order) {
	    	if($scope.view.model.worker.executionState!=1){
					$http
					.post('network-removeneuron',JSON.stringify({layer:layer,order:order}))
					.success(function(data, status, headers, config) { 
						setPostRendered($scope,false);
				    	cleanSynapses($scope);
				    	$scope.view.model.network = {
							neurons : [],
							synapses : [] 
					    };
				    	$scope.view.init(data);
		
					});
	    	}	    	
	    }	 
	    $scope.addNeuron = function(layer) {
	    	if($scope.view.model.worker.executionState!=1){
				$http
				.post('network-addneuron',JSON.stringify({layer:layer}))
				.success(function(data, status, headers, config) { 
					setPostRendered($scope,false);
			    	cleanSynapses($scope);
			    	$scope.view.model.network = {
						neurons : [],
						synapses : [] 
				    };
			    	$scope.view.init(data);
	
				});
	    	}
	    	
	    }
	    
//Synapse	    
		$scope.removeSynapsePopup = function(synapse,$event) {
			if($event.target){
				if($event.target.popover){
				}else{
					var popover = new Popover($event.target,
					{
						trigger:"click",
						template: '<div class="popover" role="tooltip">'
							  + '<div class="arrow"></div>'
							  + '<h3 class="popover-title">Remove synapse from ['+synapse.direction.split('|')[0]+'] to ['+synapse.direction.split('|')[1]+']</h3>'
							  + '<div class="popover-content"><center>'
							  + '<button  type="button"  data-toggle="button" data-loading-text="Confirm" class="btn btn-warning" onclick="scopeRemoveSynapse(\''+synapse.direction+'\')">Confirm</button>'
							  + '</center></div>'
							  + '</div>'
					});
					$event.target.popover = popover;
					popover.open();
						
				}
			}
			
		}

	    $scope.removeSynapses = function(layer,order) {
	    	if($scope.view.model.worker.executionState!=1){

	    		
					$http
					.post('network-removesynapses')
					.success(function(data, status, headers, config) { 
						setPostRendered($scope,false);
				    	cleanSynapses($scope);
				    	$scope.view.model.network = {
							neurons : [],
							synapses : [] 
					    };
				    	$scope.view.init(data);
		
					});
	    	}
	    	
	    }	   

		$scope.removeSynapse = function(fromlayer,fromorder,tolayer,toorder, direction){

	    	if($scope.view.model.worker.executionState!=1){
	    		
    			var target = document.getElementById('sl'+direction);
    			if(target && target.popover)
    				target.popover.close();
	    		
				var json = JSON.stringify(
						{
							from:{
								layer:fromlayer,
								order:fromorder
							},
							to:{
								layer:tolayer,
								order:toorder
							}
						}
						);
	    		
				$http
				.post('network-removesynapse',json)
				.success(function(data, status, headers, config) { 
					setPostRendered($scope,false);
			    	cleanSynapses($scope);
			    	$scope.view.model.network = {
						neurons : [],
						synapses : [] 
				    };
			    	$scope.view.init(data);
	
				});
	    	}			
		}	
		
		$scope.addSynapse = function(){
			if($scope.view.model.selectedn.length==2){
				var n0 = $scope.view.model.selectedn[0].replace('n','');
				var n1 = $scope.view.model.selectedn[1].replace('n','');
				var n0split = n0.split(',');
				var n1split = n1.split(',');
				
				var json = null;
				
				
				if(n0split[0]/1>n1split[0])
					json = JSON.stringify(
							{
								from:{
									layer:n1split[0],
									order:n1split[1]
								},
								to:{
									layer:n0split[0],
									order:n0split[1]
								}
							}
						);
				else
					json = JSON.stringify(
							{
								from:{
									layer:n0split[0],
									order:n0split[1]
								},
								to:{
									layer:n1split[0],
									order:n1split[1]
								}
							}
						);
				$http
				.post('network-addsynapse',json)
				.success(function(data, status, headers, config) { 
					setPostRendered($scope,false);
			    	cleanSynapses($scope);
			    	$scope.view.model.network = {
						neurons : [],
						synapses : [] 
				    };
			    	$scope.view.init(data);
	
				});				
				
			}
			return '';
		};
		
		$scope.getAddSynapseLabel = function(){
			if($scope.view.model.selectedn.length==2){
				var n0 = $scope.view.model.selectedn[0].replace('n','');
				var n1 = $scope.view.model.selectedn[1].replace('n','');
				var n0split = n0.split(',');
				var n1split = n1.split(',');
				
				for(var i in $scope.view.model.network.synapses){
					if($scope.view.model.network.synapses[i].direction==(n1+'|'+n0) || $scope.view.model.network.synapses[i].direction==(n0+'|'+n1))
						return '';
				}
				
				if(n0split[0]/1>n1split[0])
					return 'Add synapse from ['+n1+'] to ['+n0+']'
				else
					return 'Add synapse from ['+n0+'] to ['+n1+']'
			}
			return '';
		};
	    
		
		$http({
            method : 'GET',
            url : 'pages/included/top_menu.html'
	    }).success(function(data, status, headers, config) {
	    	document.getElementById("top_menu").innerHTML = data;
	    	document.getElementById("top_menu_networks").className += " active";
	    	
			$http({
	            method : 'GET',
	            url : 'network-json'
		    }).success(function(data, status, headers, config) {
		    	$scope.view.init(data);
		    	
		    	$scope.$watch('view', function(newValue, oldValue) {
		    		if($scope.isPostRendered==false){
						$timeout(function () {
					    	postRendering($scope,$http,$timeout);
					    	addEventToElements($scope,$http,$timeout);
					    	drawSynapseOnInit($scope);
					    });
		    		}else if($scope.view.model.worker && $scope.view.model.worker.executionState && $scope.view.model.worker.executionState==1){
		    			
		    		}else{
		    			$timeout(function () {
				    		var diff = newValue.getDirty(oldValue,function(property){
				    			if(property && 
				    				(
				    					property.indexOf('$$')==0 || property=='error' || property=='info' || property=='warning'|| property=='success' || property=='drawcounter'
				    				)
				    			)
				    				return true;
				    			return false;
				    		});
							if(diff.length>0){
								if($scope.avoidUpdateDirty>0)
									$scope.avoidUpdateDirty = $scope.avoidUpdateDirty-1;
								else
									$scope.view.postDirty($http,diff);	
							}
		    			});
		    		}
					
		  		},true);
		    });
	    	
	    	
	    });
});

app.directive('resize', function ($window) {
    return function (scope, element, attr) {
        angular.element($window).bind('resize', function () {
        	reDrawSynapses(scope);
        });
        
    }
}); 
app.directive('validNumber', function() {
    return function(scope, element, attrs) {
		var keyCode = [8,9,37,39,48,49,50,51,52,53,54,55,56,57,96,97,98,99,100,101,102,103,104,105,110,190,188];
	    element.bind("keydown", function(event) {
			if(keyCode.indexOf(event.which) == -1 || (event.target.value.indexOf('.')>-1 && event.which==190) || (event.target.value.indexOf('.')>-1 && event.which==190)){
	        	scope.$apply(function(){
	            	scope.$eval(attrs.onlyNum);
	                event.preventDefault();
	            });
	            event.preventDefault();
	        }
	    });
	    
	    element.bind("blur", function(event) {
			if(event.target.value==''){
//				event.target.value=event.target.value/1;
	            event.preventDefault();
	        }else{
	        	event.target.value=event.target.value/1;
	        	event.preventDefault();
	        }
	    });
	    
	};
 });

	
	
	function postRendering($scope,$http,$timeout){
		
		[].forEach.call(
				document.getElementsByClassName('neuron'),
				function(e){
					if(e.id && e.id.indexOf('n0,')==0)
						document.getElementById(e.id.replace('n0,','i0,')).style.display='block';
					
					e.addEventListener(
						'click',
						function() {
						  	if(this.className){
						  		if(this.className=='neuron'){
						  			this.className='neuron-expand';	
						  			drawSynapses(this,$scope,true);
									$http.post(
											'network-selectneuron',
											JSON.stringify({neuron:{layer:this.id.replace('n','').split(',')[0]/1,order:this.id.replace('n','').split(',')[1]/1},sel:true})
									)
									.success(function(data, status, headers, config) { 
										$scope.view.model.selectedn = data.selectedn;
										$scope.avoidUpdateDirty=$scope.avoidUpdateDirty+1;
									}
									);
						  		}else if(this.className=='neuron-expand'){
						  			this.className='neuron';
						  			drawSynapses(this,$scope,false);
									$http.post(
											'network-selectneuron',
											JSON.stringify({neuron:{layer:this.id.replace('n','').split(',')[0]/1,order:this.id.replace('n','').split(',')[1]/1},sel:false})
									)
									.success(function(data, status, headers, config) { 
										$scope.view.model.selectedn = data.selectedn;
										$scope.avoidUpdateDirty=$scope.avoidUpdateDirty+1;
									}
									);									
						  		}

						  	}
						},
						false);
					e.addEventListener(
							'mouseover',
							function() {
								if(this.popover)	
									this.popover.removePopover();
								
								var popover = new Popover(this);	
								this.popover = popover;
								
							},
							false)
				}
		);

		

		setPostRendered($scope,true);

		
	}
	
	function setPostRendered($scope,val){
		$scope.isPostRendered = val;
		if(val==true){
			window.setTimeout(function(){
				document.getElementById("waiter").style.visibility='hidden';
			},400);
			if(document.getElementById("canvas").style.display=='none')
				document.getElementById("canvas").style.display='block';
		}else
			document.getElementById("waiter").style.visibility='visible';
		
	}
	
	function addEventToElements($scope,$http,$timeout){
		
		if($scope.isAddEvents==false){
		
			var btnLoad = document.getElementById('loadButton');
			btnLoad.addEventListener('click', function() {
				
			  	new Button(btnLoad,'loading'); 
			  	$http({
					url:'network-restart',
					method : 'GET'
			    }).success(function(data, status, headers, config) { 
			    	$scope.view.init(data);
			    	if($scope.view.model.worker && $scope.view.model.worker.executionState){
			    		if($scope.view.model.worker.executionState==1){		    			
			    			$timeout(function () {
			    				queryWorker($scope,$http,$timeout);
			    				addEventToHideElements($scope,$http,$timeout);
			    			});
	
			    		}else
			    			new Button(btnLoad,"reset");
	
			    	}else
						new Button(btnLoad,"reset");
				});
			});	
			
			var btnReset = document.getElementById('resetButton');
			btnReset.addEventListener('click', function() {
				if($scope.view.model.worker.executionState!=1){
				  	new Button(btnReset,'loading'); 
				  	$http({
						url:'network-reset',
						method : 'GET'
				    }).success(function(data, status, headers, config) { 
				    	setPostRendered($scope,false);
				    	cleanSynapses($scope);
				    	$scope.view.model.network = {
							neurons : [],
							synapses : [] 
					    };
				    	$scope.view.init(data);
		
		//		    	isPostRendered==true;
						new Button(btnReset,"reset");
					});
				}
			});			
	
			var btnData = document.getElementById('dataButton');
			btnData.addEventListener('click', function() {
			  	new Button(btnData,'loading'); 
	
				$http({
					url:'network-viewdata',
					method : 'GET'
			    }).success(function(data, status, headers, config) { 
			    	var btnid = '_'+new Date().getTime();
			    	var txt = '<textarea id="txtUpdateData'+btnid+'" style="width:100%;height:400px;white-space: pre; word-wrap: normal;">';
			    	if(data){
			    		[].forEach.call(
			    				data.data,
			    				function(d){
			    					for(var i=0;i<d.length;i++)
			    						txt+=d[i]+';';
			    					txt+='\n';	
			    				}
			    			);
			    	}
			    	txt+='</textarea>';
					new clpopup({
						type: 'info',
						footer: '<button id="btnUpdateData'+btnid+'" type="button" class="btn btn-danger" data-loading-text="Wait..." >Update</button>',
						message: txt,
						success: function(){
							var instance = this;
							var btnUpdate = document.getElementById('btnUpdateData'+btnid);
							btnUpdate.addEventListener('click', function() {
							  	new Button(btnUpdate,'loading'); 
								$http
								.post('network-updatedata',JSON.stringify({data:document.getElementById('txtUpdateData'+btnid).value}))
								.success(function(data, status, headers, config) { 
									new Button(btnUpdate,"reset");
									instance.close();
								});
							});
						}
					}).open();					 
				 
	
					new Button(btnData,"reset");
				});
			});
			
			var btnPreview = document.getElementById('previewButton');
			btnPreview.addEventListener('click', function() {
			  	new Button(btnPreview,'loading'); 
	
				$http({
					url:'network-viewnetwork',
					method : 'GET'
			    }).success(function(data, status, headers, config) { 
			    	
			    	var btnid = '_'+new Date().getTime();
			    	var txt = ''
			    	if(data){
			    		txt+=data.network;	
			    		txt=txt.replace(/\\n/g, '\n').replace(/\\r/g, '\r').replace(/\\t/g, '\t').replace(/\\"/g, '"');
			    		txt=txt.replace(/\\/g, '');
			    	}
			    	txt='<textarea  id="txtUpdateNetwork'+btnid+'" style="width:100%;height:400px;white-space: pre; word-wrap: normal;">'+txt+'</textarea>';
			    	
					new clpopup({
						type: 'info',
						footer: '<button id="btnUpdateNetwork'+btnid+'" type="button" class="btn btn-danger" data-loading-text="Wait..." >Update</button>',
						message: txt,
						success: function(modal){
							var instance = this;
							var btnUpdate = document.getElementById('btnUpdateNetwork'+btnid);
							btnUpdate.addEventListener('click', function() {
							  	new Button(btnUpdate,'loading'); 
					
								$http
								.post('network-updatenetwork',JSON.stringify({networksource:document.getElementById('txtUpdateNetwork'+btnid).value}))
								.success(function(data, status, headers, config) { 
									new Button(btnUpdate,"reset");
									instance.close();
									if(data.model.error && data.model.error!=""){
								    	$scope.view.init(data);
								    	$scope.view.message();
									}else{
										
								    	setPostRendered($scope,false);
								    	cleanSynapses($scope);
								    	$scope.view.model.network = {
											neurons : [],
											synapses : [] 
									    };
								    	$scope.view.init(data);
								    	

								    	
//								    	setPostRendered(true);
									}
								});
							});
						}
					}).open();					 
	
					new Button(btnPreview,"reset");
				});
			});
			
			var btnAInfo = document.getElementById('infoAButton');
			btnAInfo.addEventListener('click', function() {
			  	$http({
					url:'network-ainfo',
					method : 'POST'
			    }).success(function(data, status, headers, config) { 

					var tmplt = '<div class="popover" role="tooltip">'
							  + '<div class="arrow"></div>'
							  + '<h3 class="popover-title">Algorithm '+data.algorithm.id+'</h3>'
							  + '<div class="popover-content">';
							  
				  	for(var property in data.algorithm){
						if (property!='id' &&
							property!='definition' &&	
							typeof data.algorithm[property] != 'function' &&
							typeof data.algorithm[property] != 'object')
								tmplt+='<i>'+property+'</i>:'+data.algorithm[property]+'<br/>';
					}
							  
					tmplt+='</div></div>';  
					
					if(btnAInfo.popover){
//						btnAInfo.popover.close();
						btnAInfo.popover.options.template = tmplt;
					}else{					
						var popover = new Popover(btnAInfo,
						{
							trigger:"click",
							template: tmplt
						});
						btnAInfo.popover = popover;
						popover.open();
					}
				});
			});				
			
			var selectActivationFunctions = document.getElementById('activationFunctions');
			if(selectActivationFunctions){
				selectActivationFunctions.value = $scope.view.model.activationFunctions;
				selectActivationFunctions.addEventListener('change', function() {
					if($scope.view.model.worker.executionState!=1){
						$http
						.post('network-change',JSON.stringify({type:'activationFunctions',value:selectActivationFunctions.value}))
						.success(function(data, status, headers, config) { 
					    	$scope.view.init(data);
					    	$scope.view.message();
						});
					}
				}
				);
			}
			
			
			var selectTrainingStrategy = document.getElementById('trainingStrategy');
			if(selectActivationFunctions){
				selectTrainingStrategy.value = $scope.view.model.strategy;
				selectTrainingStrategy.addEventListener('change', function() {
					if($scope.view.model.worker.executionState!=1){
						$http
						.post('network-change',JSON.stringify({type:'trainingStrategy',value:selectTrainingStrategy.value}))
						.success(function(data, status, headers, config) { 
					    	$scope.view.init(data);
					    	$scope.view.message();
						});
					}
				}
				);
			}
			
			var selectTrainingAlgorithm = document.getElementById('trainingAlgorithm');
			if(selectTrainingAlgorithm){
				selectTrainingAlgorithm.value = $scope.view.model.algorithm;
				selectTrainingAlgorithm.addEventListener('change', function() {
					if($scope.view.model.worker.executionState!=1){
						$http
						.post('network-change',JSON.stringify({type:'trainingAlgorithm',value:selectTrainingAlgorithm.value}))
						.success(function(data, status, headers, config) { 
					    	$scope.view.init(data);
					    	$scope.view.message();
						});
					}
				}
				);
			}
			
			
			if($scope.view.model.worker.executionState==1){		    			
				$timeout(function () {
					new Button(document.getElementById('loadButton'),'loading'); 
					queryWorker($scope,$http,$timeout);
					addEventToHideElements($scope,$http,$timeout);
				});
	
			}else
				addEventToHideElements($scope,$http,$timeout);
			
			$scope.isAddEvents=true;
		}
		
	}

	function addEventToHideElements($scope,$http,$timeout){
		var btnStop = document.getElementById('stopButton');
		if(btnStop){
			btnStop.addEventListener('click', function() {
			  	new Button(btnStop,'loading'); 
			  	$http({
					url:'network-stop',
					method : 'GET'
			    }).success(function(data, status, headers, config) { 
			    	$scope.view.init(data);
					new Button(btnStop,"reset");
				});
			});
		}
	
	}	
	
	function scopeRemoveSynapse(direction){
		direction.split('|')[0].split(',')[0]/1
		var appElement = document.querySelector('[ng-app=networksApp]');
		var appScope = angular.element(appElement).scope();
		appScope.removeSynapse(
				direction.split('|')[0].split(',')[0]/1,
				direction.split('|')[0].split(',')[1]/1,
				direction.split('|')[1].split(',')[0]/1,
				direction.split('|')[1].split(',')[1]/1,
				direction
				);

	}
	
	function scopeRemoveLayer(layer){
		var appElement = document.querySelector('[ng-app=networksApp]');
		var appScope = angular.element(appElement).scope();
		appScope.removeLayer(layer);
	}
	
	function scopeRemoveNeuron(layer,order, layerlength){
		if(layerlength && layerlength==0)
			return;
		var appElement = document.querySelector('[ng-app=networksApp]');
		var appScope = angular.element(appElement).scope();
		appScope.removeNeuron(layer,order);
	}	
	
	function scopeRemoveSynapses(){
		var appElement = document.querySelector('[ng-app=networksApp]');
		var appScope = angular.element(appElement).scope();
		appScope.removeSynapses();
	}		
	
	function queryWorker($scope,$http,$timeout){
		var btnLoad = document.getElementById('loadButton');
		$timeout(function () {
		  	$http({
				url:'network-check',
				method : 'GET'
		    }).success(function(data, status, headers, config) { 
		    	$scope.view.init(data);
		    	if($scope.view.model.worker && $scope.view.model.worker.executionState){
		    		if($scope.view.model.worker.executionState==1)
		    			queryWorker($scope,$http,$timeout)	
		    		else
		    			new Button(btnLoad,"reset");
		    	}else
					new Button(btnLoad,"reset");
			});

    	},
    	500);

	}
	
	
	function drawSynapseOnInit($scope){
		for(var i in $scope.view.model.selectedn){
			document.getElementById($scope.view.model.selectedn[i]).click();
		}
	}
	
	function drawSynapses(neuron,$scope,show){
		if(neuron && neuron.id){
			var id = neuron.id.replace('n','');

			
			var selected = [];
			for(var i in $scope.view.model.network.synapses){
				var synapse = $scope.view.model.network.synapses[i];
				if(synapse.direction){
					if(synapse.direction.indexOf(id)>-1)
						selected.push(synapse);
				}					
			}
			for(var i in selected){
				var synapse = selected[i];
				if(synapse.direction){
					if(!synapse['drawcounter'])
						synapse['drawcounter'] = 0;					
					drawLineAndLabel(synapse, show);
				}
				
			}
		}		
	}
	
	
	function reDrawSynapses($scope){
		var selected = [];
		for(var i in $scope.view.model.network.synapses){
			var synapse = $scope.view.model.network.synapses[i];
			if(synapse['drawcounter'] && synapse['drawcounter']>0)
				selected.push(synapse);
									
		}
		for(var i in selected){
			var synapse = selected[i];
			if(synapse.direction){
				drawLineAndLabel(synapse, true, true);
			}
			
		}
	}	
	
	function cleanSynapses($scope){
		var selected = [];
		for(var i in $scope.view.model.network.synapses){
			var synapse = $scope.view.model.network.synapses[i];
//			if(synapse['drawcounter'] && synapse['drawcounter']>0)
				selected.push(synapse);
									
		}
		for(var i in selected){
			var synapse = selected[i];
			if(synapse.direction){
				drawLineAndLabel(synapse, false, false, true);
			}
			
		}
	}	

	
	function drawLineAndLabel(synapse, show, redraw, ignoreDrawcounter){
		var res = synapse.direction.split('|');
		var from = document.getElementById('n'+res[0]);
		var to = document.getElementById('n'+res[1]);
		if(from && to){
			var id_synapse = 's'+synapse.direction;
			var label = document.getElementById('sl'+synapse.direction);

			if(show){
				if(synapse.drawcounter==0 || (redraw && redraw==true)){
					var rectFrom = from.getBoundingClientRect();
					var rectTo = to.getBoundingClientRect();
					
					var centerFromX = rectFromX = rectFrom.left+rectFrom.width/2 + window.scrollX;
					var centerFromY = rectFromY = rectFrom.top + rectFrom.height/2 + window.scrollY;
					var centerToX = rectToX = rectTo.left+rectTo.width/2 + window.scrollX;
					var centerToY = rectToY =rectTo.top + rectTo.height/2 + window.scrollY;
					
					var alfa = Math.atan((rectFromY - rectToY)/(rectFromX - rectToX));
					var radius = 12.5;
					
					if(rectFromX <= rectToX){
						rectFromX = rectFromX + Math.cos(alfa)*radius;
						rectToX = rectToX - Math.cos(alfa)*radius;
						rectFromY = rectFromY + Math.abs(Math.sin(alfa)*radius);
						rectToY = rectToY  - Math.abs(Math.sin(alfa)*radius);
					}else if(rectFromX > rectToX){
						rectFromX = rectFromX - Math.cos(alfa)*radius;
						rectToX = rectToX + Math.cos(alfa)*radius;
						rectFromY = rectFromY + Math.abs(Math.sin(alfa)*radius);
						rectToY = rectToY - Math.abs(Math.sin(alfa)*radius);									
					}
					
					var maxZIndex = 0;
					var line;
					if(redraw && redraw==true){
						var element = document.getElementById(id_synapse);
						if(element)
							element.parentNode.removeChild(element);
					}
					
					document.body.appendChild(
						line = createLine(
								id_synapse,
								rectFromX,
								rectFromY,
								rectToX,
								rectToY
						)
					);
					
					
					line.addEventListener("mouseover", function(){
						if(label)
							addClass(label,'synapse-hover');
						
						if(this.popover)	
							this.popover.removePopover();
						
						var popover = new Popover(this,
							{
							template: '<div class="popover" role="tooltip">'
								  + '<div class="arrow"></div>'
								  + '<h3 class="popover-title">Synapse</h3>'
								  + '<div class="popover-content">'
								  + '<i>from:</i>&nbsp;neuron ['+res[0]+']<br/>'
								  + '<i>to:</i>&nbsp;neuron ['+res[1]+']<br/>'
								  + '<i>weight:</i>&nbsp;'+synapse.weight+'<br/>'
								  + '</div>'
								  + '</div>'
						});	
						this.popover = popover;
						
						
					});
					line.addEventListener("mouseout", function(){
						removeClass(label,'synapse-hover');
						if(this.popover)	
							this.popover.removePopover();

					});					
					
					if(line && line.style && line.style.zIndex){
						if(maxZIndex<line.style.zIndex)
							maxZIndex = line.style.zIndex;
					}

					
					if(label){
						label.style.position = 'absolute';
						label.style.display = 'block';

						
						var rectLabel = label.getBoundingClientRect();
						var centerLabelX = Math.min(centerFromX,centerToX) + Math.abs(centerFromX-centerToX)/2 ;
						var centerLabelY = Math.min(centerFromY,centerToY) + Math.abs(centerFromY-centerToY)/2 ;
						
						label.style.left = (centerLabelX-label.getBoundingClientRect().width/2)+'px';
						label.style.top = (centerLabelY-label.getBoundingClientRect().height/2)+'px';
						
						label.style.zIndex = (maxZIndex+1);
					}
					

				}
				if(redraw && redraw==true){
					
				}else
					synapse.drawcounter=synapse.drawcounter+1;
			}else
				synapse.drawcounter=synapse.drawcounter-1;
			
			if(synapse.drawcounter<=0 || (ignoreDrawcounter && ignoreDrawcounter==true)){
				var element = document.getElementById(id_synapse);
				if(element)
					element.parentNode.removeChild(element);	
				synapse.drawcounter=0;
				if(label)
					label.style.display = 'none';
			}
		}

	}
	
	</script>
  </body>
</html>